---
import "../../styles/aboutMeVew.css";
---

<div id="footer">
  <img
    id="footer-photo"
    src="/media/Cutout-of-me-(outline).png"
  />
  <img
    id="signature"
    src="/icons/firma.svg"
    alt="My signature, it reads FerMau"
  />
</div>
