---
import "../../styles/firstVew.css";
---

<div class="contact-box">
  <p id="contact">CONTACT INFO</p>

  <a
    class="info-options"
    href="https://www.linkedin.com/in/mauricio-medrano-webdev/"
    target="_blank"
  >
    <img src="/icons/linkedin.svg" />LinkedIn<img
      src="/icons/external-link.svg"
      class="external-link-icons"
    />
  </a>
  <a class="info-options" href="https://github.com/Mau-051" target="_blank">
    <img src="/icons/github.svg" />GitHub<img
      src="/icons/external-link.svg"
      class="external-link-icons"
    />
  </a>
  
  <a
    class="info-options"
    href="/CV-Fernando-Mauricio2023.pdf"
    target="_blank"
  >
    <img src="/icons/resume.svg" />My resume<img
      src="/icons/external-link.svg"
      class="external-link-icons"
    />
  </a>
</div>
