---
import "../../styles/firstVew.css";
import Presentation from "./presentation.astro";
import Photo from "./photo.astro";
---

<html>
  <body>
    <div id="upper-background">
      <div class="frame">
        <Presentation />
        <Photo />
        <div id="chevron-down">
          <p>MORE ABOUT ME</p>
          <button id="scroll-down-btn">
            <img src="/icons/chevron.svg" />
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
<script>
  const chevronDown = document.getElementById("scroll-down-btn");

  function scrollBottom() {
    window.scrollTo({
      top: document.documentElement.scrollHeight,
      behavior: "smooth",
    });
  }

  chevronDown.addEventListener("click", scrollBottom);
</script>
