---
import "../../styles/firstVew.css";
import Contact from "./contact.astro";
---

<div class="information-box">
  <div id="name-box">
    <h1 id="firstName">FERNANDO<br />MAURICIO</h1>
    <h1 id="secondName">MEDRANO MAGALLANES</h1>
  </div>
  <div>
    <div id="job-description">
      <p>FRONT END <br /> DEVELOPER</p>
    </div>
    <Contact />
  </div>
</div>
