---
import "../styles/index.css";
import MainVew from "../components/mainVew/mainVew.astro";
import AboutMe from "../components/aboutMeSection/aboutMe.astro";
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="portafolio of Fernando Mauricio" />
    <meta name="keywords" content="web developer, job, portafolio, resume" />
    <meta name="author" content="Fernando Mauricio" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/icons/F-favicon.svg" />
    <title>Fernando Mauricio</title>
  </head>
  <body>
    <MainVew />
    <AboutMe />
  </body>
</html>
